
body{
    overflow-x: hidden;
}
.header_background-image1{
    background: url("../img/image1.png");
    height: 700px;
    font: white;
    color: white;
    font-size: 32px;
}
.header_display-inline-block1{
    display: inline-block;
    font-family: 'Playfair Display';
    }
    .header_span{
        margin-left: 400px;
        margin-right: -80px;
    }
    .header_display_inline-block-car{
        position: relative;
        left: 650px;
        background: transparent;
    }
.header_menu1{
    position: relative;
     top: -10px;
    padding: 0;
    margin-left: 80px;
   
}
.header_menu2{
    position: relative;
    top: -14px;
    right: 27px;
    
}
.header_menu3{
    position: relative;
    top: -18px;
    right: 55px;
}
.header_retangule{
    position: relative;
    top: 180px;
    left: -575px;
}
.header_background-image1 h1{
    margin-left: 80px;
    margin-top: 180px;
    font-size: 80px;
}
.header_background-image1 h3{
    margin-left: 80px;
    margin-top: -40px;
}
.header_vetor{
    margin-left: 80px;
}
.position1{
    position: relative;
    margin-left: 80px;
    
}
.position1 img{
    width: 604px;
}
.position2{
    position: absolute;
    margin-left: 760px;
    top: 670px;
    font-size: 56px;
    }
.position3{
    position: absolute;
    margin-left: 760px;
    top: 800px;
    font-size: 32px;
}
.position4{
    position: relative;
    margin-left: 80px;
    font-size: 56px;
}
.section_position{
    margin-left: 80px;
    font-size: 32px;
}
.position5{
    position: absolute;
    margin-left: 760px;
    top: 1260px;
    
}
.position5 img{
   width: 600px;
    
}
.section{
    margin-bottom: 350px;
}
.aside-aside{
    margin-left: 120px;
    margin-bottom: 100px;
}
.aside-aside h2{
    margin-left: -10px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px; 
    color: #A0996C;
}

.aside_displa-flexfirst{
    display: flex;
    justify-content: space-between;
}
.aside_displa-flexsecond{
    display: flex;
    justify-content: space-between;
}
.aside_left-background{
    background: #F7F1E6;
    border-radius: 8px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.main_button-left{
    position: relative;
    right:146px;
    border: solid #0B1D03;
    background-color:#0B1D03;
    color: white;
    height: 30px;
    border-radius: 4px;
}
.aside_center-background{
    background: #F7F1E6;
    margin-right: 30px;
    margin-bottom: 30px;
}
.main_button-center{
    position: relative;
    right:146px;
    border: solid #0B1D03;
    background-color:#0B1D03;
    color: white;
    height: 30px;
    border-radius: 4px;
}
.aside_right-background{
    background: #F7F1E6;  
    margin-bottom: 30px;
}
.relative1{
    position: relative;
    margin-left: 110px;
}
.absolute1{
    position: absolute;
    left: 150px;
    top: 2650px;
    margin-left: 230px;
}
.absolute2{
    position: absolute;
    left: 350px;
    top: 2650px;
    margin-left: 350px;
}
.absolute3{
    position: absolute;
    left: 550px;
    top: 2650px;
    margin-left: 470px;
}
.absolute4{
    position: absolute;
    left: 750px;
    top: 2650px;
    margin-left: 470px;
}
.section-section-section{
  margin-bottom: 15px;
  

}
.sectio_display-inline{
    display: flex;
    margin-left: 80px;
    margin-bottom: 80px;
}
.background-image2{
    background: url("../img/rectangle20.png");
    width: 604px;
    height: 500px;
    font-size: large;
    color: white;
    margin-right: 25px;
    margin-top: 10px;
    
}
.background-image2 h2{
    position: relative;
    font-size: 56px; 
    top: 265px;
    padding-left: 20px;
    
}
.background-image2 h3{
  position: relative;
  top: 235px;
  font-size: 20px;
  padding-left: 20px;
}
.background-image3{
   background: url("../img/rectangle21.png");
    width: 604px;
    height: 500px;
    font-size: large;
    color: white;
    margin-top: 10px;
}
.background-image3 h2{
    position: relative;
    font-size: 56px; 
    top: 265px;
    padding-left: 20px;
}
.background-image3 h3{
    position: relative;
    top: 235px;
    font-size: 20px;
    padding-left: 20px;
}
.section_font{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 60px;
margin-left: 80px;
margin-bottom: -25px;
}
.section-section-section-section{
    margin-left: 80px;
    margin-bottom: 20px;
}
.section-section-section-section_text{
    height: 45px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 25px;
    width: 320px;
}
.fontfamily-playfair{
    font-family: 'Playfair Display';
}
.width2{
    width: 875px;
    height: 45px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 25px;
}
.width{
    margin-left: 80px;
}
.width img{
    width: 1230px;
    height: 512px;
   
}
footer{
 background: #F7F1E6;
 margin-left: 80px;
}
footer ul{
    display: inline-block;
    list-style: none;
    margin-left: 100px;
 }
footer a{
    text-decoration: none;
    color: inherit;
}
.list-style{
    list-style: none;
    text-decoration: inherit;
}
.inline{
    position: relative;
    top: -10px;
    left: 55px;
}
.inline label{
    position: relative;
    top: -50px;
}
.inline li{
     display: inline-block;
      }
.absolute5{
    position: relative;
    right: 95px;
}
.absolute6{
    position: relative;
    right: 80px;
}
.absolute7{
    position: relative;
    right: 65px;
}
.footer_h4{
    text-align: center;
}